{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="card mx-auto mt-5 shadow" style="width: 18rem;">
	<div class="text-center">
		<img class="card-img-top mt-3" src="../../img/logo-association-tlmc.png" alt="Logo association TLMC" style="width:75%">
	</div>
  		<div class="card-body">
    		<h5 class="card-title">Se connecter</h5>
    		{% if error %}
    			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
  			<form action="{{ path('security_login') }}" method="post" id="login-form">
  				<div class="form-group">
                    <label for="username">Identifiant</label>
                    <input type="text" class="form-control" id="username" value="{{ last_username }}" placeholder="Votre identifiant" name="_username">
                  </div>
    			<div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" placeholder="Mot de passe" name="_password">
                    <small id="emailHelp" class="form-text text-muted"><a href="#" class="card-link">Mot de passe oublié</a></small>
                </div>
                
                {% if  app.environment == 'dev' %}
                <div class="alert alert-light">
                		<b>Se connecter en tant que</b><br />
                		<a href="#" class="link-debug-auto-login" data-pseudo="admin" data-password="admin">Admin</a> |
                		<a href="#" class="link-debug-auto-login" data-pseudo="benevole" data-password="benevole">Bénevole</a> |
                		<a href="#" class="link-debug-auto-login" data-pseudo="beneficiaire" data-password="beneficiaire">Bénéficiaire</a> |
                		<a href="#" class="link-debug-auto-login" data-pseudo="beneficiaire_direct" data-password="beneficiaire_direct">Bénéficiaire direct</a>
                </div>
                {% endif %}
                
               	<div class="text-center">
    				<button class="btn btn-primary" id="btn-submit-login" type="submit">Me connecter</button>
    			</div>
    		</form>
		</div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        {% if  app.environment == 'dev' %}
        $('.link-debug-auto-login').click(function() {
            $('#username').val($(this).data('pseudo'));
            $('#password').val($(this).data('password'));
            $('#btn-submit-login').addClass('disabled').html('Connexion...');
            $('#login-form').submit();
        });

        $('#btn-submit-login').click(function() {
            $(this).addClass('disabled').html('Connexion...');
        });

         {% endif %}
    
    </script>
{% endblock %}