{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div><br/>
{% endif %}

<div class="card mx-auto mt-4 shadow-lg" style="width: 20rem;">
	<img class="card-img-top" src="../../img/logo-association-tlmc.png" alt="Logo association TLMC">
  		<div class="card-body">
    		<h5 class="card-title">Se connecter</h5>
  			<form action="{{ path('security_login') }}" method="post">
    			<label for="username">Username:</label><br/>
    			<input type="text" id="username" name="_username" value="{{ last_username }}" /><br/>
      			<label for="password">Password:</label><br/>
    			<input type="password" id="password" name="_password" />
    			<p class="card-text"><a href="#">Mot de passe oublié</a> // to do*</p>
    			<button class="btn btn-primary" type="submit">Valider</button>
    		</form><br/>
		</div>
</div>
{% endblock %}