{% extends 'base.html.twig' %}

{% block title %}
Fiche d'une question
{% endblock %}

{% block body %}

<h1>
	Question 
	#{{ question.id }}
</h1>


{% include 'elements/arborescence.html.twig' %}


<div id="bloc_question">
	<div>Loading</div>
</div>

		<!-- Modal -->
<div class="modal fade" id="modal_question_global" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="bloc_modal"></div>
	</div>
</div>

{% endblock %}

 {% block script %}
 	<script src="{{ asset('assets/js/question/Question.js') }}?{{ date().timestamp }}"></script>
 {% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    
    $(document).ready(function() {

		var params = {
				url_ajax_see : '{{path('question_ajax_see', {'id': question.id }) }}',
				id_content_modal : '#bloc_modal',
				id_modal : '#modal_question_global',
				id_global : '#bloc_question',
		};
        
		Question.Launch(params);
		Question.LoadQuestion();
    });
    
    </script>
{% endblock %}
