<div id="ajax_membre_specialite">
	<div class="form-group">
    	<label for="membre_specialite">Spécialité</label> 
        <select id="membre_specialite" name="membre[specialite]" class="form-control">
            {%  for specialite in specialites %}
            	<option {% if specialite.id == select_specialite %} selected {% endif %} value="{{ specialite.id }}">{{ specialite.service }}</option>
            {% endfor %}
        </select>
    </div>
</div>

{% block javascripts %}
    <script type="text/javascript">
    	{% if(specialites is empty) %}
			$('#ajax_membre_specialite').hide();
    	{% endif %}
    	$('#membre_save').prop('disabled', false);
    	
    </script>
{% endblock %}