{% extends 'base.html.twig' %}

{% block title %} Fiche d'une adresse {% endblock %}

{% block body %}

<h1>Fiche d'une adresse </h1>

{% include 'elements/arborescence.html.twig' %}

Fiche de l'adresse {{ adresse.id }}

{% endblock %}