{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
<div id="page-accueil">
    {% if  app.environment == 'dev' %}
		<h1>Accueil (VISITEUR)</h1>
	{% else %}
		<h1>Accueil</h1>
	{% endif %}
	<div>
    	<div class="card card-visiteur">
        	<div class="card-header bg-info">
            	Vous souhaitez accéder à davantage de contenu ?
        	</div>
        	<div class="card-body">
        		<p class="text-info text-center">Merci de vous authentifier via l'espace login<br/>
        		ou de demander à un administrateur du site de créer vos accès</p>
    		</div>
    	</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">

    </script>
{% endblock %}