/********************************************
*
* DEFINITION DES FONTS
*
********************************************/
@font-face {
	font-family: 'Helvetica-35-Thin';
	src: url('../font/Helvetica-Neue-LT-Com-35-Thin.ttf');
}

@font-face {
	font-family: 'Helvetica-47-Light';
	src: url('../font/Helvetica-Neue-LT-Com-47-Light-Condensed.ttf');
}

@font-face {
	font-family: 'Helvetica-77-Bold';
	src: url('../font/Helvetica-Neue-LT-Com-77-Bold-Condensed.ttf');
}

/********************************************
*
* GLOBAL
*
********************************************/
body {
	font-family: 'Helvetica-47-Light';
}

h1 {
	margin: 0px -10px 10px -10px;
	background-color: #d5488b;
	padding: 5px 5px 5px 15px;
	color: #FFFFFF;
	font-family: Helvetica-35-Thin;
	font-size: 35px;
	text-transform: uppercase;
}

b, strong {
	font-family: 'Helvetica-77-Bold';
}

a {
	color: #d5488b;
}

a:hover {
	color: #d5488b;
}

/********************************************
*
* SURCHARGE BOUTON BOOTSTRAP
*
********************************************/

/** Debut btn-primary **/
.btn-primary {
  color: #fff;
  background-color: #d5488b;
  border-color: #B13075;
}

.btn-primary:hover {
  color: #fff;
  background-color: #B13075;
  border-color: #786D59;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 48, 117, 0.5); 
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #D78FB3;
  border-color: #D78FB3;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #B13075;
  border-color: #786D59;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 48, 117, 0.5);
}
/** fin btn-primary **/

/** Debut btn-dark **/
.btn-dark {
  color: #fff;
  background-color: #4a4a4a;
  border-color: #000000;
}

.btn-dark:hover {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5); 
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #727272;
  border-color: #727272;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5); 
}
/** fin btn-dark **/

/** Debut btn-info **/
.btn-info {
  color: #fff;
  background-color: #578FAD;
  border-color: #116982;
}

.btn-info:hover {
  color: #fff;
  background-color: #116982;
  border-color: #116982;
}

.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(87,143,173, 0.5); 
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #B0C8D6;
  border-color: #578FAD;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #116982;
  border-color: #578FAD;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(87,143,173, 0.5); 
}
/** fin btn-info **/

/** Debut btn-success **/
.btn-success {
  color: #fff;
  background-color: #70b04d;
  border-color: #128942;
}

.btn-success:hover {
  color: #fff;
  background-color: #128942;
  border-color: #128942;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(101, 188, 70, 0.5); 
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #85BD67;
  border-color: #85BD67;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #128942;
  border-color: #128942;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(101, 188, 70, 0.5); 
}
/** fin btn-success **/

/** Debut btn-secondary **/
.btn-secondary {
  color: #fff;
  background-color: #ACADB1;
  border-color: #88898e;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #88898e;
  border-color: #88898e;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(172, 173, 177, 0.5); 
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #cdcdcf;
  border-color: #cdcdcf;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #88898e;
  border-color: #88898e;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(172, 173, 177, 0.5); 
}
/** fin btn-secondary **/

/********************************************
*
* FIN SURCHARGE BOUTON BOOTSTRAP
*
********************************************/

/********************************************
*
* SURCHARGE BADGE BOOTSTRAP
*
********************************************/

/** Debut badge-primary **/
.badge-primary {
  color: #fff;
  background-color: #d5488b;
  border-color: #B13075;
}

.badge-primary[href]:hover {
  color: #fff;
  background-color: #B13075;
  border-color: #786D59;
}

.badge-primary[href]:focus, .badge-primary[href].focus, .badge-primary:focus, .badge-primary.focus  {
  box-shadow: 0 0 0 0.2rem rgba(177, 48, 117, 0.5); 
}

.badge-primary.disabled, .badge-primary:disabled {
  color: #fff;
  background-color: #D78FB3;
  border-color: #D78FB3;
}
/** fin badge-primary **/

/** Debut badge-light **/
.badge-light {
  color: #fff;
  background-color: #ACADB1;
}

.badge-light[href]:hover, .badge-light[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #929499;
}
/** fin badge-light **/

/** Debut badge-success **/
.badge-success {
  color: #fff;
  background-color: #85BD67;
}

.badge-success[href]:hover, .badge-success[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #128942;
}
/** fin badge-success **/

/********************************************
*
* FIN SURCHARGE BADGE BOOTSTRAP
*
********************************************/

/********************************************
*
* SURCHARGE ALERTS BOOTSTRAP
*
********************************************/

/** Debut alert-primary **/
.alert-primary {
  color: #004085;
  background-color: rgba(26,188,239,0.2);
  border-color: rgba(26,188,239,0.2);
}

.alert-primary .alert-link {
  color: #004085;
}
/** Fin alert-primary **/

/** Debut alert-secondary **/
.alert-secondary {
  color: #383d41;
  background-color: rgba(172,173,177,0.2);
  border-color: rgba(172,173,177,0.2);
}

.alert-secondary .alert-link {
  color: #383d41;
}
/** Fin alert-secondary **/

/** Debut alert-success **/
.alert-success {
  color: #155724;
  background-color:  rgba(133,189,103,0.2);
  border-color:  rgba(133,189,103,0.2);
}

.alert-success .alert-link {
  color: #0b2e13;
}
/** Fin alert-success **/

/** Debut alert-info **/
.alert-info {
  color: #0c5460;
  background-color: rgba(87,143,173,0.2);
  border-color: rgba(87,143,173,0.2);
}

.alert-info .alert-link {
  color: #0c5460;
}
/** Fin alert-info **/

/** Debut alert-warning **/
.alert-warning {
  color: #856404;
  background-color: rgba(239,211,48,0.2);
  border-color: rgba(239,211,48,0.2);
}

.alert-warning .alert-link {
  color: #856404;
}
/** Fin alert-warning **/

/** Debut alert-danger **/
.alert-danger {
  color: #721c24;
  background-color: rgba(153,27,30,0.2);
  border-color: rgba(153,27,30,0.2);
}

.alert-danger .alert-link {
  color: #721c24;
}
/** Fin alert-danger **/

/** Debut alert-dark **/
.alert-dark {
  color: #1b1e21;
  background-color: rgba(111,72,88,0.2);
  border-color: rgba(111,72,88,0.2);
}

.alert-dark .alert-link {
  color: #1b1e21;
}
/** Fin alert-dark **/

/** Debut alert-light **/
.alert-light {
  border-color: rgb(252, 248, 247);
}
/** Fin alert-light **/

/********************************************
*
* FIN SURCHARGE ALERTS BOOTSTRAP
*
********************************************/

/********************************************
*
* SURCHARGE BACKGROUNDS (BG) BOOTSTRAP
*
********************************************/

/** Debut bg-primary **/
.bg-primary {
  color: #fff;
  background-color: #E97EB2 !important;
}
/** Fin bg-primary **/

/** Debut bg-secondary **/
.bg-secondary {
  color: #fff;
  background-color: #ACADB1 !important;
}
/** Fin bg-secondary **/

/** Debut bg-success **/
.bg-success {
  color: #fff;
  background-color: #85BD67 !important;
}
/** Fin bg-success **/

/** Debut bg-info **/
.bg-info {
  color: #fff;
  background-color: #578FAD !important;
}
/** Fin bg-info **/

/** Debut bg-warning **/
.bg-warning {
  color: #fff;
  background-color: #EFD330 !important;
}
/** Fin bg-warning **/

/** Debut bg-danger **/
.bg-danger {
  color: #fff;
  background-color: #991B1E !important;
}
/** Fin bg-danger **/

/** Debut bg-dark **/
.bg-dark {
  color: #fff;
  background-color: #000 !important;
}
/** Fin bg-dark **/

/** Debut bg-light **/
.bg-light {
  color: #000;
  background-color: #f2f2f2 !important;
}
/** Fin bg-light **/

/********************************************
*
* FIN SURCHARGE BACKGROUNDS (BG) BOOTSTRAP
*
********************************************/

/********************************************
*
* SURCHARGE NAV-LINK BOOTSTRAP
*
********************************************/

/** Debut nav-link **/
.nav-link:hover {
  color: #fff;
  background-color: #B13075;
  border-color: #786D59;
}

.nav-link:focus, .nav-link.focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 48, 117, 0.5); 
}

.nav-link.disabled, .nav-link:disabled {
  color: #fff;
  background-color: #D78FB3;
  border-color: #D78FB3;
}

/** fin nav-link **/

/********************************************
*
* FIN SURCHARGE NAV-LINK BOOTSTRAP
*
********************************************/

/********************************************
*
* SURCHARGE TEXT-INFO BOOTSTRAP
*
********************************************/

/** Debut text-info **/
.text-info {
  color: #d5488b!important;
}
/** fin text-info **/

/********************************************
*
* FIN SURCHARGE TEXT-INFO BOOTSTRAP
*
********************************************/

/********************************************
*
* SURCHARGE PAGE-*
*
********************************************/

.page-link {
	color: #d5488b;
}

.page-link:hover {
	color: #B13075;
}

.page-item.active .page-link, .nav-pills .nav-link.active, .list-group .list-group-item.active {
	background-color: #d5488b;
	border-color: #B13075;
}

/********************************************
*
* FIN SURCHARGE PAGE-*
*
********************************************/

/********************************************
*
* SURCHARGE BTN-OUTLINE-*
*
********************************************/

.btn-outline-primary {
	color: #d5488b;
	border-color: #B13075;
}

.btn-outline-primary:hover {
	background-color: #B13075;
	border-color: #786D59;
}

/********************************************
*
* FIN SURCHARGE BTN-OUTLINE-*
*
********************************************/

/********************************************
*
* SURCHARGE BORDERS-*
*
********************************************/

.border-primary {
  border-color: #d5488b !important;
}


/********************************************
*
* FIN SURCHARGE BORDERS-*
*
********************************************/

/********************************************
*
* FOOTER
*
********************************************/
footer {
	font-size: 12px;
}

footer a {
	color: #d6d6d6;
}

footer img {
	width: 42%;
}

footer h6, footer p {
	color: rgba(255, 255, 255, .5);
}

/********************************************
*
* Page templates/questionnaire/ajax_see.html.twig
*
********************************************/
#ajax_questionnaire_see .card-body hr {
	margin: 0 0 10px 0;
	padding: 0px;
}

#ajax_questionnaire_see #card-info-questionnaire {
	margin-bottom: 10px;
}

#ajax_questionnaire_see .form-check {
	position: inherit;
}

/********************************************
*
* Fin page templates/questionnaire/ajax_see.html.twig
*
********************************************/

/********************************************
*
* Page templates/questionnaire/stats.html.twig
*
********************************************/
#stats_questionnaire #listing_membres .card {
	margin-bottom: 10px;
}

#stats_questionnaire #listing_membres .card-header {
	cursor: pointer;
}

#stats_questionnaire #listing_membres {
	margin-bottom: 10px;
}

#stats_questionnaire #listing_membres .card-body .float-left {
	width: 33.3%;
	padding-bottom: 1.25rem;
}

#stats_questionnaire #block-chart-google .float-left {
	width: 33.3%;
	padding-bottom: 1.25rem;
}

#stats_questionnaire .card {
	margin-bottom: 20px;
}
/********************************************
*
* Fin page templates/questionnaire/stats.html.twig
*
********************************************/

/********************************************
*
* page templates/questionnaire/ajax_duplication.html.twig
*
********************************************/

#ajax_questionnaire_duplication hr {
	margin-top: 0px;
}

#ajax_questionnaire_duplication #slug_text {
	margin-bottom: 10px;
}

/********************************************
*
* Fin Page templates/questionnaire/ajax_duplication.html.twig
*
********************************************/

/********************************************
*
* debut Page templates/message/index.html.twig
*
********************************************/

@media screen and (max-width: 1024px) {
  #messagerie-block .nav-link .nav-text {
    display: none;
  }
  
  #messagerie-block .nav-link {
    text-align: center;
  }
}

#messagerie-block .nav-pills .nav-link {
	border-radius: .25rem 0 0 .25rem;
}

#messagerie-block .list-group-item:first-child {
    border-radius: 0;
}

#messagerie-block .list-group-item {
	padding: .5rem 1rem;
	height: 40px;
}

#messagerie-block .bloc_btn_messagerie {
	margin: -10px -10px 0px -10px;
	padding: 5px;
	padding-left: 15px;
	height: 40px;
}

#messagerie-block #bloc_search {
	padding-left: 5px;
	padding-right: 10px;
}

#messagerie-block #v-pills-tabContent .list-group-item div.small-head {
	margin-top: -10px;
	position: absolute;
	left: 45px;
	top: 10px;
	font-size: 0.9em;
}

#messagerie-block #v-pills-tabContent .list-group-item div.small-body {
	margin-top: -10px;
	position: absolute;
	left: 45px;
	top: 25px;
	font-size: 0.9em;
}

#messagerie-block #v-pills-tabContent .list-group-item div.float-right {
	margin-top: -23px;
	font-size: 0.9em;
	font-style: italic;
}

#messagerie-block #v-pills-tabContent .list-group-item.no-read {
	border-left: 5px solid #d5488b;
}

#messagerie-block #v-pills-tabContent .list-group-item.no-read div.small-head {
	left: 40px;
}

#messagerie-block #v-pills-tabContent .list-group-item.no-read div.small-body {
	left: 40px;
	font-weight: bold;
}

#messagerie-block #v-pills-tabContent .list-group-item.no-read span.oi {
	left: -5px;
}

#messagerie-block nav {
	margin-top: 10px;
}

#messagerie-block nav a.page-link {
	font-size: .875rem
}

#messagerie-block #ajax_messages_destinataire .bloc_btn_messagerie {
	margin-left: -5px;
}

/********************************************
*
* fin Page templates/message/index.html.twig
*
********************************************/