/********************************************
*
* DEFINITION DES FONTS
*
********************************************/
@font-face {
	font-family: 'Helvetica-35-Thin';
	src: url('../font/Helvetica-Neue-LT-Com-35-Thin.ttf');
}

@font-face {
	font-family: 'Helvetica-47-Light';
	src: url('../font/Helvetica-Neue-LT-Com-47-Light-Condensed.ttf');
}

@font-face {
	font-family: 'Helvetica-77-Bold';
	src: url('../font/Helvetica-Neue-LT-Com-77-Bold-Condensed.ttf');
}

/********************************************
*
* GLOBAL
*
********************************************/
body {
	font-family: 'Helvetica-47-Light';
}

h1 {
	margin: 0px -10px 10px -10px;
	background-color: #d5488b;
	padding: 5px 5px 5px 15px;
	color: #FFFFFF;
	font-family: Helvetica-35-Thin;
	font-size: 35px;
	text-transform: uppercase;
}

b, strong {
	font-family: 'Helvetica-77-Bold';
}

a {
	color: #d5488b;
}

a:hover {
	color: #d5488b;
}

/********************************************
*
* SURCHARGE BOUTON BOOSTRAP
*
********************************************/

/** Debut primary **/
.btn-primary {
  color: #fff;
  background-color: #d5488b;
  border-color: #B13075;
}

.btn-primary:hover {
  color: #fff;
  background-color: #B13075;
  border-color: #786D59;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 48, 117, 0.5); 
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #D78FB3;
  border-color: #D78FB3;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #B13075;
  border-color: #786D59;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 48, 117, 0.5);
}
/** fin primary **/

/********************************************
*
* SURCHARGE BADGE PRIMARY BOOSTRAP
*
********************************************/

/** Debut badge-primary **/
.badge-primary {
  color: #fff;
  background-color: #d5488b;
  border-color: #B13075;
}

.badge-primary[href]:hover {
  color: #fff;
  background-color: #B13075;
  border-color: #786D59;
}

.badge-primary[href]:focus, .badge-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 48, 117, 0.5); 
}

.badge-primary.disabled, .badge-primary:disabled {
  color: #fff;
  background-color: #D78FB3;
  border-color: #D78FB3;
}

.badge-primary:not(:disabled):not(.disabled):active, .badge-primary:not(:disabled):not(.disabled).active,
.show > .badge-primary.dropdown-toggle {
  color: #fff;
  background-color: #B13075;
  border-color: #786D59;
}

.badge-primary:not(:disabled):not(.disabled):active:focus, .badge-primary:not(:disabled):not(.disabled).active:focus,
.show > .badge-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 48, 117, 0.5);
}
/** fin badge-primary **/

/********************************************
*
* SURCHARGE NAV-LINK BOOSTRAP
*
********************************************/

/** Debut nav-link **/
.nav-link:hover {
  color: #fff;
  background-color: #B13075;
  border-color: #786D59;
}

.nav-link:focus, .nav-link.focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 48, 117, 0.5); 
}

.nav-link.disabled, .nav-link:disabled {
  color: #fff;
  background-color: #D78FB3;
  border-color: #D78FB3;
}

.nav-link:not(:disabled):not(.disabled):active, .nav-link:not(:disabled):not(.disabled).active,
.show > .nav-link.dropdown-toggle {
  color: #fff;
  background-color: #B13075;
  border-color: #786D59;
}

.nav-link:not(:disabled):not(.disabled):active:focus, .nav-link:not(:disabled):not(.disabled).active:focus,
.show > .nav-link.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 48, 117, 0.5);
}
/** fin nav-link **/

/********************************************
*
* SURCHARGE TEXT-INFO BOOSTRAP
*
********************************************/

/** Debut text-info **/
.text-info {
  color: #d5488b!important;
}
/** fin text-info **/

.page-link {
	color: #d5488b;
}

.page-link:hover {
	color: #B13075;
}

.page-item.active .page-link {
	background-color: #d5488b;
	border-color: #B13075;
}

.btn-outline-primary {
	color: #d5488b;
	border-color: #B13075;
}

.btn-outline-primary:hover {
	background-color: #B13075;
	border-color: #786D59;
}

/********************************************
*
* FOOTER
*
********************************************/
footer {
	font-size: 12px;
}

footer a {
	color: #d6d6d6;
}

footer img {
	width: 42%;
}

footer h6, footer p {
	color: rgba(255, 255, 255, .5);
}