/* Style CSS projet TLMC */

/* Loader */
.loader {
	/*position: fixed;*/
	z-index: 9999;
	background: url('../../img/loader.gif') 50% 50% no-repeat;
	background-color: rgba(176, 176, 176, 0.2); top : 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	cursor: wait;
	top: 0px;
}