<h3>R&eacute;ception d'un nouveau message</h3>

Bonjour Madame/Monsieur <b>{{ prenom |raw }} {{ nom |raw }}</b>,<br/><br/>

Nous vous informons que vous venez de recevoir un nouveau message sur la plateforme TLMC.<br/><br/>

Pour vous connecter, vous pouvez d&egrave;s &agrave; pr&eacute;sent vous rendre sur l'espace de connexion &agrave; l'adresse suivante : <a href="{{ url('security_login') }}">Se connecter</a><br/><br/>

En cas de perte ou d'oubli de votre mot de passe, cliquez sur "mot de passe oubli&eacute;" ou sollicitez un administrateur de la plateforme.<hr>
<small class="text-muted">Attention, vos identifiants sont strictement personnels, merci de veiller &agrave; leur confidentialit&eacute;.</small>