<div id="ajax_send_message_ok">
  <div class="card-header card bg-success border-success">Message envoyé avec succès</div>
  <div class="card-body text-success">
    <p class="card-text"><span class="oi oi-check"></span> Votre message a bien été envoyé à <b>{{ destinataire }}</b></p>
    <small class="float-right text-info"><i>Cette fenêtre se fermera dans 3 secondes ou appuyez sur Echap</i></small>
  </div> 
</div>

{% block javascripts %}
<script type="text/javascript">

	//rediriger vers la page Messagerie
	$(document).ready(function() {
		setTimeout(function() {$('#modal_message_global').modal('hide');}, 3000);
	});

</script>
{% endblock %}
		
