<div id="ajax_messages_expediteur">
	<div class="bloc_btn_messagerie">
		<a href="#" class="btn btn-primary btn-sm">E</a>
		<a href="#" class="btn btn-primary btn-sm">F</a>
		<a href="#" class="btn btn-primary btn-sm">G</a>
		<a href="#" class="btn btn-primary btn-sm">H</a>
	</div>
	<div class="list-group">
			{% for message in messages %}
			{{ listingMessage(message, app.user.id, path('message_ajax_view_message', {'id' : message.id})) | raw }}
      		{% endfor %}
    </div>
   
    {% include 'elements/ajax_pagination.html.twig' %}
</div>

{% block javascripts %}
	<script type="text/javascript">

	$(document).ready(function() {
		Messagerie.EventListeMessage('#ajax_messages_expediteur');

		{% if messages is not empty %}
			$('#ajax_messages_destinataire .list-group a.list-group-item').first().addClass("active");

			{% set message = messages |first %}
			Messagerie.LoadMessage('{{path('message_ajax_view_message', {'id' : message.id})}}');
		{% endif %}
	});
		
    </script>
{% endblock %}
