<div id="ajax_messages_corbeille">
	<div class="bloc_btn_messagerie">
		<a href="#" id="select-all" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Tout selectionner"><span class="oi oi-arrow-thick-bottom"></span></a>
		<a href="{{ path('message_ajax_corbeille') }}" id="delete-all" class="btn btn-primary btn-sm" data-corbeille="0" data-role="corbeille" data-placement="top" title="Restaurer"><span class="oi oi-aperture" ></span></a>
		<a href="#" class="btn btn-primary btn-sm">A</a>
		<a href="#" class="btn btn-primary btn-sm">D</a>
		<a href="#" class="btn btn-primary btn-sm">C</a>
		<a href="#" class="btn btn-primary btn-sm">B</a>
	</div>
	<div class="list-group">
			{% for message in messages %}
			{{ listingMessage(message, app.user.id, path('message_ajax_view_message', {'id' : message.id})) | raw }}
      		{% endfor %}
    </div>
   
    {% include 'elements/ajax_pagination.html.twig' %}
</div>

{% block javascripts %}
	<script type="text/javascript">

	$(document).ready(function() {
		Messagerie.EventListeMessage('#ajax_messages_corbeille');

		{% if messages is not empty %}
			$('#ajax_messages_destinataire .list-group a.list-group-item').first().addClass("active");

			{% set message = messages |first %}
			Messagerie.LoadMessage('{{path('message_ajax_view_message', {'id' : message.id})}}');
		{% endif %}
	});

	$('#messagerie-block #ajax_messages_corbeille a').tooltip();
	
    </script>
{% endblock %}