<div id="ajax_messages_destinataire">
	<div class="bloc_btn_messagerie">
		<a href="#" class="btn btn-primary btn-sm">A</a>
		<a href="#" class="btn btn-primary btn-sm">B</a>
		<a href="#" class="btn btn-primary btn-sm">C</a>
		<a href="#" class="btn btn-primary btn-sm">D</a>
	</div>
	<div class="list-group">
		{% for message in messages %}
			{{ listingMessage(message, app.user.id) | raw }}
		{% endfor %}
    </div>
    
    {% include 'elements/ajax_pagination.html.twig' %}
</div>

{% block javascripts %}
	<script type="text/javascript">

	$(document).ready(function() {
		;
	});
		
    </script>
{% endblock %}
