<div class="modal fade" tabindex="-1" role="dialog" id="ajax_send_message_ok">
	<div class="modal-header">
		<h5 class="modal-title">Message envoyé avec succès</h5>
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close" id="form-message-btn-close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="alert alert-success">
			<b><span class="oi oi-check"></span> Votre message a bien été
				envoyé</b>
		</div>
	</div>

</div>

{% block javascripts %}
<script type="text/javascript">

	//rediriger vers la page Messagerie
	$(document).ready(function() {
		$('#ajax_send_message_ok').fadeOut(2000);
		//Messagerie.popin.modal('hide');
	});

</script>
{% endblock %}
		
