<div id="ajax_messages_preview">
	<div class="list-group">
    	<a href="#" class="list-group-item list-group-item-action active">
        	Preview messages
      	</a>
      	<a href="#" id="preview-content" class="list-group-item list-group-item-action">Contenu Preview</a>
    </div>
</div>