<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         {% include 'elements/include_js_css.html.twig' %}
         {% block stylesheets %}{% endblock %}
         {% block script %}{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
    	<div class="container-full" id="container-global">
    		
    		<div style="padding:0px 10px 0px 10px">
                {% block body %}	{% endblock %}
            </div>
            {% block javascripts %}{% endblock %}
        </div>
         {% include 'elements/footer.html.twig' %}
       </body>
</html>