{% extends 'base.html.twig' %}

{% block title %} Nouvelle connexion entre une famille et un patient {% endblock %}

{% block body %}

<h1>Ajout d'une nouvelle connexion entre une famille et un patient</h1>

<div>
    {{ form(form) }}
    
</div>
	  
	  
{% endblock %}
