{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<h1>Test de questionnaire #{{ questionnaire.id }}</h1>
<a class="btn btn-secondary mb-2" href="{{ path('questionnaire_see', {'id':questionnaire.id}) }}">Retour</a>

{{ questionnaire(questionnaire, {
	'submit_url' : path('questionnaire_demo', {'slug': questionnaire.slug }),
	'statut' : 'demo'
}) | raw }}

{% endblock %}
