{% extends 'base.html.twig' %}

{% block title %} Fiche d'un questionnaire {% endblock %}

{% block body %}

<h1>Fiche du questionnaire {{ questionnaire.titre }}</h1>

{% include 'elements/arborescence.html.twig' %}

ici repose un bug

{% endblock %}