{% extends 'base.html.twig' %}

{% block title %}
Fiche d'un questionnaire
{% endblock %}

{% block body %}

<h1>
	Questionnaire 
	#{{ questionnaire.id }}
</h1>


{% include 'elements/arborescence.html.twig' %}


<div id="bloc_questionnaire">
	<div>Loading</div>
</div>
<div id="bloc_modal">
 <!--  div pour le chargement des modales -->
</div>



{% endblock %}

 {% block script %}
 	<script src="{{ asset('assets/js/questionnaire/QuestionnaireForm.js') }}?{{ date().timestamp }}"></script>
 {% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    
    $(document).ready(function() {

		var params = {
				url_ajax_see : '{{path('questionnaire_ajax_see', {'id': questionnaire.id }) }}',
				id_modal : '#bloc_modal',
				id_global : '#bloc_questionnaire',
		};
        
    	QuestionnaireForm.Launch(params);
    	QuestionnaireForm.LoadQuestionnaire();
    });
    
    </script>
{% endblock %}
